encryption = "age"
[age]
  identity = "~/.age/christian-key.txt"
  symmetric = true
[git]
  autoCommit = true
  autoPush = true
[data.git.home]
  email = "christian.a.romney@gmail.com"
  gpgSigningKey = "A0FA17A0540AAC06"
[data.git.work]
  email = "christian.romney@nubank.com"
  gpgSigningKey = "01A60AF7B2843970"
