brew "age"
brew "aider"
brew "aria2"
brew "asciidoc"
brew "asciidoctor"
brew "asdf"
brew "aspell"
brew "autoconf"
brew "automake"
brew "awk"
brew "aws-iam-authenticator"
brew "awscli"
brew "bash-completion@2"
brew "bat"
brew "binutils"
brew "boost"
brew "borkdude/brew/babashka"
brew "carthage"
brew "chezmoi"
brew "chezscheme"
brew "cloc"
brew "clojure"
brew "clojure-lsp"
brew "cmake"
brew "cmake-docs"
brew "cocoapods"
brew "codex"
brew "coreutils"
brew "cryptography"
brew "csvlens"
brew "d12frosted/emacs-plus/emacs-plus@31", args: ["with-imagemagick", "with-mailutils", "with-savchenkovaleriy-big-sur-3d-icon"]
brew "dart-sdk"
brew "datamash"
brew "datasette"
brew "diffutils"
brew "direnv"
brew "docbook"
brew "docutils"
brew "duf"
brew "edencommon"
brew "espeak"
brew "eza"
brew "fb303"
brew "fbthrift"
brew "fd"
brew "ffmpeg"
brew "file-formula"
brew "findutils"
brew "fish"
brew "fisher"
brew "fizz"
brew "flac"
brew "fmt"
brew "folly"
brew "fzf"
brew "gawk"
brew "gcc"
brew "gemini-cli"
brew "gflags"
brew "gh"
brew "ghostscript"
brew "gimme-aws-creds"
brew "gist"
brew "git"
brew "git-absorb"
brew "git-big-picture"
brew "git-cal"
brew "git-cliff"
brew "git-crypt"
brew "git-delta"
brew "git-extras"
brew "git-lfs"
brew "git-machete"
brew "git-multipush"
brew "git-open"
brew "git-quick-stats"
brew "github-markdown-toc"
brew "gitlint"
brew "gnu-getopt"
brew "gnu-indent"
brew "gnu-sed"
brew "gnu-tar"
brew "gnu-units"
brew "gnu-which"
brew "gnupg"
brew "gnuplot"
brew "go"
brew "gpgme"
brew "gradle"
brew "graphviz"
brew "grc"
brew "grep"
brew "grip"
brew "guile"
brew "gzip"
brew "harfbuzz"
brew "hatch"
brew "httpie"
brew "httptap"
brew "icu4c@76"
brew "id3v2"
brew "imagemagick"
brew "isort"
brew "ispell"
brew "jansson"
brew "jc"
brew "jet"
brew "jj"
brew "jpeg-xl"
brew "jq"
brew "js-beautify"
brew "jsonlint"
brew "k9s"
brew "kubernetes-cli"
brew "lefthook"
brew "leiningen"
brew "lesspipe"
brew "libgccjit"
brew "librist"
brew "llm"
brew "llvm"
brew "lnav"
brew "lorem"
brew "magic-wormhole"
brew "mailutils"
brew "make"
brew "markdownlint-cli"
brew "marp-cli"
brew "maven"
brew "md5deep"
brew "mpg123"
brew "mpv"
brew "multimarkdown"
brew "mvfst"
brew "ncdu"
brew "netcat"
brew "nmap"
brew "node"
brew "nvm"
brew "openapi-generator"
brew "openssh"
brew "pandoc"
brew "pango"
brew "parallel"
brew "pinentry-mac"
brew "pipenv"
brew "pkgconf"
brew "pngpaste"
brew "poetry"
brew "poppler"
brew "prettier"
brew "proctools"
brew "proto"
brew "psgrep"
brew "pstree"
brew "pyenv"
brew "pygments"
brew "pyright"
brew "qrencode"
brew "qt"
brew "rbenv"
brew "ripgrep"
brew "rlwrap"
brew "rsync"
brew "ruff"
brew "rust"
brew "rye"
brew "s-search"
brew "safety"
brew "sbcl"
brew "screen"
brew "shellcheck"
brew "shfmt"
brew "six"
brew "sops"
brew "source-highlight"
brew "sphinx-doc"
brew "ssh-copy-id"
brew "sst/tap/opencode"
brew "starship"
{{- if eq .chezmoi.fqdnHostname "mint.local" }}
brew "stockfish"
{{- end }}
brew "stow"
brew "stylelint"
brew "swi-prolog"
brew "tealdeer"
brew "tektoncd/tools/tektoncd-cli"
brew "telegraf", restart_service: :changed
brew "terminal-notifier"
brew "tesseract"
brew "texinfo"
brew "tmspzz/tap/rome"
brew "tokei"
brew "tree"
brew "tree-sitter"
brew "tuntox"
brew "unar"
brew "unzip"
brew "uv"
brew "vale"
brew "vim"
brew "viu"
brew "volta"
brew "wangle"
brew "watch"
brew "watchman"
brew "wdiff"
brew "wget"
brew "wordnet"
brew "xcbeautify"
brew "xcodes"
brew "xmlto"
brew "xz"
brew "yamllint"
brew "yarn"
brew "ykman"
brew "yq"
brew "yt-dlp"
brew "zlib"
brew "zoxide"
cask "1password"
cask "1password-cli"
{{- if eq .chezmoi.fqdnHostname "mint.local" }}
cask "airflow"  
{{- end }}
cask "appcleaner"
cask "arc"
cask "audio-hijack"
cask "betterdisplay"
cask "cursor"
cask "discord"
cask "dropbox"
{{- if eq .chezmoi.fqdnHostname "mint.local" }}
cask "expressvpn"  
{{- end }}
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "font-juliamono"
cask "font-metropolis"
cask "font-monaspace"
cask "font-monaspice-nerd-font"
cask "font-noto-color-emoji"
cask "font-roboto-condensed"
cask "font-roboto-mono"
cask "ghostty"
cask "github"
cask "google-chrome"
{{- if eq .chezmoi.fqdnHostname "mint.local" }}
cask "gpg-suite@nightly"
{{- else }}
cask "gpg-suite"
{{- end }}
cask "kdiff3"
cask "keybase"
cask "mactex"
cask "meetingbar"
cask "meld"
{{- if eq .chezmoi.fqdnHostname "christian.romney" }}
cask "microsoft-teams"
{{- end }}
cask "notion-mail"
cask "ollama-app"
cask "onyx"
{{- if eq .chezmoi.fqdnHostname "mint.local" }}
cask "opencpn"  
{{- end }}
cask "orbstack"
{{- if eq .chezmoi.fqdnHostname "mint.local" }}
cask "plex"
cask "plex-media-server"
{{- end }}
cask "quarto"
cask "raycast"
cask "rectangle"
cask "sensei"
cask "superwhisper"
cask "temurin"
cask "temurin@17"
cask "thunderbird"
{{- if eq .chezmoi.fqdnHostname "mint.local" }}
cask "transmission"
{{- end }}
cask "visualvm"
cask "vlc"
{{- if eq .chezmoi.fqdnHostname "mint.local" }}
cask "vuescan"
cask "wolfram-engine"
{{- end }}
cask "zen"
cask "zoom"
tap "borkdude/brew"
tap "d12frosted/emacs-plus"
tap "ggozad/formulas"
tap "sst/tap"
tap "tektoncd/tools"
tap "tmspzz/tap"
