{
  "env": "dev",
  "projects": {
    "personal": "{{ .chezmoi.homeDir }}/Documents/personal/notes/basic-memory/personal",
    "nubank": "{{ .chezmoi.homeDir }}/Documents/work/notes/basic-memory/nubank"
  },
  "default_project": "nubank",
  "default_project_mode": false,
  "log_level": "INFO",
  "database_backend": "sqlite",
  "database_url": null,
  "db_pool_size": 20,
  "db_pool_overflow": 40,
  "db_pool_recycle": 180,
  "sync_delay": 1000,
  "watch_project_reload_interval": 300,
  "update_permalinks_on_move": false,
  "sync_changes": true,
  "sync_thread_pool_size": 4,
  "sync_max_concurrent_files": 10,
  "kebab_filenames": true,
  "disable_permalinks": false,
  "skip_initialization_sync": false,
  "format_on_save": false,
  "formatter_command": null,
  "formatters": {},
  "formatter_timeout": 5.0,
  "project_root": null,
  "cloud_client_id": "client_01K6KWQPW6J1M8VV7R3TZP5A6M",
  "cloud_domain": "https://eloquent-lotus-05.authkit.app",
  "cloud_host": "https://cloud.basicmemory.com",
  "cloud_mode": false,
  "cloud_projects": {}
}
