set fish_greeting ($SHELL --version)

# configure homebrew environment and add to path
set -gx HOMEBREW_GITHUB_API_TOKEN (security find-internet-password -s api.github.com -w)
set -gx HOMEBREW_NO_ENV_HINTS 1
set -gx HOMEBREW_PREFIX "/opt/homebrew";
set -gx HOMEBREW_CELLAR "/opt/homebrew/Cellar";
set -gx HOMEBREW_REPOSITORY "/opt/homebrew";
! set -q PATH; and set PATH ''; set -gx PATH "/opt/homebrew/bin" "/opt/homebrew/sbin" "/opt/homebrew/opt/grep/libexec/gnubin/" $PATH;
! set -q MANPATH; and set MANPATH ''; set -gx MANPATH "/opt/homebrew/share/man" $MANPATH;
! set -q INFOPATH; and set INFOPATH ''; set -gx INFOPATH "/opt/homebrew/share/info" $INFOPATH;

set -gx OLLAMA_API_BASE "http://127.0.0.1:11434"

# work configuration
if test -d "$HOME/dev/nu"
  set -gx NU_HOME "$HOME/dev/nu"
  set -gx PATH $NU_HOME/nucli $NU_HOME/mini-meta-repo/monocli/bin $NU_HOME/sdk-flutter/bin $PATH
end

if test -d "$HOME/Library/Android/sdk"
  set -l DROID "$HOME/Library/Android/sdk"
  set -gx PATH $DROID/platform-tools $DROID/tools $DROID/emulator $DROID/cmdline-tools/latest/bin $PATH
end

# add home/bin and Doom to path
set -gx PATH $HOME/bin $HOME/.local/bin $HOME/.config/emacs/bin $HOME/.bun/bin $PATH

# ensure ssh and gpg are initialized
gpgconf --launch gpg-agent
set -x GPG_TTY (tty)
set -x GPG_AGENT_INFO "~/.gnupg/S.gpg-agent:"(pgrep gpg-agent)":1"
ssh-add -q

# configure development environment
set -gx EDITOR emacs

# envionrment vars per directory
direnv hook fish | source

# 1Password
set -l opplugins /Users/christian/.config/op/plugins.sh
test -f $opplugins; and source $opplugins

# iTerm2 shell tools (e.g. imgcat)
set -l itermshell "$HOME/.iterm2_shell_integration.fish"
test -e $itermshell; and source $itermshell

# zoxide & fzf
zoxide init fish --cmd=cd | source

# configure prompt
# if status is-interactive
#  starship init fish | source
# end
