"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
{{- if eq .chezmoi.fqdnHostname "christian.romney" }}
email = {{ .work.email | quote }}
{{- else }}
email = {{ .home.email | quote }}
{{- end }}
name = "Christian Romney"

[ui]
default-command = "log"
pager = "delta"
diff-formatter = ":git"

[signing]
behavior = "own"
backend = "gpg"
{{- if eq .chezmoi.fqdnHostname "christian.romney" }}
key = {{ .work.gpgSigningKey | quote }}
{{- else }}
key = {{ .home.gpgSigningKey | quote }}
{{- end }}

{{- if eq .chezmoi.hostname "christian" }}
[signing.backends.gpg]
program = "/usr/local/MacGPG2/bin/gpg2"
{{- end }}
