"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
email = "christian.romney@nubank.com.br"
name = "Christian Romney"

[ui]
default-command = "log"
pager = "delta"
diff-formatter = ":git"

[signing]
behavior = "own"
backend = "gpg"
key = "01A60AF7B2843970"

[signing.backends.gpg]
program = "/usr/local/MacGPG2/bin/gpg2"
